* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

body {
  background-image: url(../img/dariusz-sankowski-3OiYMgDKJ6k-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px;
}
ul,
li {
  list-style: none;
}

.search-wrap {
  max-width: 800px;
  padding: 50px 40px;
  text-align: center;
  margin: 0 auto;
  background: rgb(209, 195, 153);
  background: radial-gradient(
    circle,
    rgba(209, 195, 153, 1) 0%,
    rgba(200, 112, 45, 0.5466561624649859) 100%
  );
  border-radius: 10px;
}
.title {
  margin-bottom: 25px;
}
.country-input {
  height: 50px;
  width: 400px;
  background-color: transparent;
  font-size: 22px;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
}
.description {
  font-family: 'Merienda', cursive;
  font-size: 20px;
  margin-right: 15px;
}
.country-name {
  display: inline-block;
  font-size: 38px;
  color: brown;
  margin-bottom: 30px;
}
.card-wrapper {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  text-align: start;
}

.capital,
.population,
.languages {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 15px;
}
.languages-item {
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
}
.flag-img {
  border-radius: 10px;
  max-width: 300px;
}
